{% extends "layout.html" %}
{% block content %}
  <!-- Header -->
  <section class="section_header_home">
    <div class="container">
      <div class="header_home">
        <div class="box">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %}
          <script>
            setTimeout(function () {
              var flashes = document.querySelectorAll(".alert");
              flashes.forEach((flash) => flash.remove());
            }, 5000);
          </script>
          <h1 style="font-size: 55px"><span class="text-logo"> Tutor.Es</span></h1>
          <p style="text-align: left">
            Una aplicacacion donde podras encontrar
            a tu tutor o mentor
            aprende de manera diferente.

          </p>
          <div class="container_buttons_links_header_home">
            <div class="btn">
              <a
                href="#"
                class="btn btn-primary btn-lg mr-2"
                ,
                style="background-color: #7b0afc"
                >Nuevo Usuario</a
              >
            </div>
            <div class="btn">
              <a
                href="#"
                class="btn btn-primary btn-lg mr-2"
                ,
                style="background-color: #7b0afc"
                >Iniciar Sesion</a
              >
            </div>
          </div>
        </div>
        <div class="box">
          <img
            src="{{url_for('static', filename='icons/home.svg')}}"
            width="325"
            height="325"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Developers -->
  <section class="section_developers">
    <div class="container">
      <div class="developers" style="display: block">
        <h1 style="text-align: center">Conoce a nuestros mentores</h1>
        <p>
          Nuestro equipo de lingüistas, economistas, educadores y programadores….
         lksldkajsñdjañskdjaolsoda
         jsdasdja
         sldjañsld
         añlsjdñlajsñdlajñsldjañkjlfjhgljdf
         sdkjfskjdf
         skdjhfs

        </p>
      </div>

      <div class="developers">
        <div class="box">
          <img
          src="https://randomuser.me/api/portraits/men/19.jpg"
          alt=""
          style="border-radius: 50%; width: 200px"
      

          />
          <h3>Ben</h3>
          <p>
            Te ayudara a socializar y aprender español en bares
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#" target="_blank">Perfil</a>
          </div>
        </div>
        <div class="box">
          <img
            src="https://randomuser.me/api/portraits/women/91.jpg"
            alt=""
            style="border-radius: 50%; width: 200px"
          />
          <h3>Sofia</h3>
          <p>
            Le gusta la fiesta blablablablabalbalbalaba
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#" target="_blank">Perfil</a>
          </div>
        </div>
        <div class="box">
          <img
            src="https://randomuser.me/api/portraits/men/81.jpg"
            alt=""
            style="border-radius: 50%; width: 200px"
          />
          <h3>Marco</h3>
          <p>
            Asidlkflkefglkfnlgkdnlfkgnldkfnldknlkfngd
            dfkngldkfnlgkdnlfgkd
            fgnlkdfnlkg
            ,fjn,fn,ggkgkfkfgjgfkjkjjfjfkjfjdk
          </p>
          <div class="section_container_buttons_developers">
            <a class="btn_developers" href="#" target="_blank">Perfil</a>
          </div>
        </div>
      </div>

     
          </div>
        </div>
        <div class="box2"></div>
      </div>
    </div>
  </section>

{% endblock content %}

